@import url('https://fonts.cdnfonts.com/css/poppins');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    background-color: #0C0C0C;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;

}